@charset "UTF-8";
/* ========== Начало блока filter-options [filter-options.scss] ========== */
.filter-options {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 0 0;
  display: flex;
  position: relative;
  color: #6F6E6E;
  text-transform: uppercase; }
  .filter-options__checkbox-trending {
    display: none; }
    .filter-options__checkbox-trending:checked ~ .filter-options__trending-form {
      display: flex; }
    .filter-options__checkbox-trending:checked ~ .filter-options__label-trending::after {
      transform: rotate(-180deg); }
  .filter-options__labels {
    display: flex;
    margin: 0 0 0 28px;
    align-items: center; }
  .filter-options__label-trending::after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    margin: 0 0 0 10px;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    transition: 0.3s ease; }
  .filter-options__trending-form {
    display: none;
    flex-direction: column;
    padding: 7px 30px 5px 9px;
    box-sizing: border-box;
    box-shadow: 6px 6px 17px rgba(0, 0, 0, 0.21);
    background: #fff;
    position: absolute;
    top: 20px;
    left: -13px;
    z-index: 1; }
  .filter-options__form-label-wrp {
    margin: 0 0 6px 0;
    display: flex; }
  .filter-options__form-label {
    margin: 0 0 0 9px; }
  .filter-options__checkbox-size {
    display: none; }
    .filter-options__checkbox-size:checked ~ .filter-options__size-form {
      display: flex; }
    .filter-options__checkbox-size:checked ~ .filter-options__label-size::after {
      transform: rotate(-180deg); }
  .filter-options__size-form {
    display: none;
    flex-direction: column;
    padding: 7px 30px 5px 9px;
    box-sizing: border-box;
    box-shadow: 6px 6px 17px rgba(0, 0, 0, 0.21);
    background: #fff;
    position: absolute;
    top: 20px;
    left: 157px;
    z-index: 1; }
  .filter-options__label-size::after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    margin: 0 0 0 10px;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    transition: 0.3s ease; }
  .filter-options__checkbox-price {
    display: none; }
    .filter-options__checkbox-price:checked ~ .filter-options__price-form {
      display: flex; }
    .filter-options__checkbox-price:checked ~ .filter-options__label-price::after {
      transform: rotate(-180deg); }
  .filter-options__label-price::after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    margin: 0 0 0 10px;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    transition: 0.3s ease; }
  .filter-options__price-form {
    display: none;
    flex-direction: column;
    padding: 7px 30px 5px 9px;
    box-sizing: border-box;
    box-shadow: 6px 6px 17px rgba(0, 0, 0, 0.21);
    background: #fff;
    position: absolute;
    top: 20px;
    left: 230px;
    z-index: 1; }

@media (max-width: 600px) {
  .filter-options__labels {
    margin: 0 0 0 24px; } }
/* ========== Начало медиазапросов ========== */
@media (max-width: 600px) {
  .filter-options__size-form {
    left: 135px; }
  .filter-options__price-form {
    left: 204px; } }
/* ========== Конец блока filter-options [filter-options.scss] ========== */

/*# sourceMappingURL=filter-options.css.map */
