.header {
    max-width: 1600px;
    width: 100%;
    background: #222222;
    margin: 0 auto;
   
    &__wrp {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        background: red;
        display: flex;
    }
    
    &__logo {
        display: flex;
    }
    
    &__logo-link {

    }
    
    &__logo-img {
        border: 1px solid #fff;
        height: 38px;
    }

    &__search {

    }

    &__label {

    }

    &__label-svg {
        border: 1px solid #fff;
        fill: #E8E8E8;
    }

    &__checkbox {

    }

    &__menu {

    }

    &__menu-list {

    }

    &__menu-item {

    }

    &__menu-label {

    }

    &__menu-span {

    }

    &__menu-checkbox {

    }

    &__menu-item {
        border: 1px solid #fff;
        list-style: none;
    }

    &__menu-svg-profile {
        border: 1px solid #fff;
        fill:#E8E8E8;
    }

    &__menu-item {

    }

    &__menu-svg-cart {
        border: 1px solid #fff;
     fill: #E8E8E8;
    }
}