@import "mixin.scss";

.header {
    max-width: 1600px;
    width: 100%;
    background: #222222;
    margin: 0 auto;
   
    &__wrp {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        // background: red;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 0;
    }
    
    &__logo {
        display: flex;
        align-items: flex-end;
    }
    
    &__logo-link {
        line-height: 0;
    }
    
    &__logo-img {
        // border: 1px solid #fff;
        height: 38px;
    }

    &__search {
        display: flex;
        align-items: center;
        margin: 0 0 0 40px;
    }

    &__label {
        line-height: 0;
    }

    &__label-svg {
        // border: 1px solid #fff;
        fill: #E8E8E8;
    }

    &__input-search {
        margin: 0 0 0 10px;
        background: transparent;
        border: 0px solid #FBFBFB;
        width: 0px;
        height: 0;
        transition: width 1s ease, border 1s ease, height 1s ease;
        
        &:focus {
            margin: 0 0 0 10px;
            border: 4px solid #FBFBFB;
            width: 100%;
            height: 28px;
        }
    }

    &__menu {

    }

    &__menu-list {
        display: flex;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        line-height: 0;
        align-items: flex-end;
        list-style: none;
    }


    &__menu-first-item {
        // list-style: none;
        display: flex;
        width: 32px;
        height: 26px;
    }

    &__menu-item {
        margin: 0 0 0 30px;
        // list-style: none;
    }

    &__menu-link {
        
    }

    &__menu-label {
        position: absolute;
        display: flex;
        width: 32px;
        height: 26px;
        cursor: pointer;
    }

    &__menu-span {
        display: block;
        width: 32px;
        height: 3px;
        background: #E8E8E8;
        position: relative;
        margin: 13px 0 0 0;
        transition: background 0.3s;
        &::before {
            display: block;
            content: "";
            width: 32px;
            height: 3px;
            background: #E8E8E8;
            position: absolute;
            top: -10px;
            transition: 0.3s;
        }
        &::after {
            display: block;
            content: "";
            width: 32px;
            height: 3px;
            background: #E8E8E8;
            position: absolute;
            top: 10px;
            transition: 0.3s;
        }
    }

    &__menu-checkbox {
        display: none;

        &:checked ~ .header__menu-span::before {
            transform: rotate(-45deg);
            top: 0;
        }

        &:checked ~ .header__menu-span::after {
            transform: rotate(45deg);
            top: 0;
        }        

        &:checked ~ .header__menu-span {
            background: none;
        }
        &:checked ~ .header__second-menu-list {
            visibility: visible;
        }      
    }

    &__second-menu-list {
        visibility: hidden;
        @include fonts (400, 14px, 17px);
        padding: 37px 68px 37px 39px;
        // border: 1px solid red;
        position: absolute;
        max-width: 232px;
        top: 78px;
        right: 0;
        margin: 0 0 0 0;
        list-style-type: none;
        color: #6F6E6E;
        text-transform: capitalize;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &__second-menu-heading {
        display: block;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
    }

    &__second-menu-item {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;

        &--margin {
            margin: 24px 0 0 0;
        }
    }

    &__menu-svg-profile {
        // border: 1px solid #fff;
        fill:#E8E8E8;
    }

    &__second-menu-main-object {
        color: #F16D7F;
        text-transform: uppercase;

    }

    &__second-menu-object {
        margin: 12px 0 0 20px;

        &:hover{
            @include hover;
        }
    }

    
    // &__menu-item {

    // }

    &__menu-svg-cart {
        // border: 1px solid #fff;
        fill: #E8E8E8;
    }
}