@import "normalize.scss";
@import "font.scss";
@import "mixin.scss";
@import "header.scss";
@import "product.scss";
@import "feature.scss";
@import "footer.scss";
@import "page-nav.scss";
@import "add-to-cart-btn.scss";
@import "filter-options.scss";

.index-main-heading {
    margin: 0 auto;
    background: #F1E4E6;
    max-width: 1600px;
    width: 100%;
    @include fonts (700, 32px, 38px);
    text-transform: uppercase;
    color: #222222;

    &-box {
        margin: 0 auto;
        background-image: url(../img/manInBlack.png);
        background-repeat: no-repeat;
        background-position: -222px;
        max-width: 1140px;
        width: 100%;
        height: 764px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &-textbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px 0 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 12px;
            height: 92px;
            position: absolute;
            left: -28px;
            top: 5px;
            background: #F16D7F;
        }
    }
}
.brand {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    &-text {
        &--color {
            color: #F16D7F;
        }
    }
}

.content-wrp {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.category {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    flex-wrap: wrap;
    padding: 65px 0 96px 0;
    @include fonts (400, 16px, 19px);
    text-transform: uppercase;

    &-box-wrp {
        display: flex;
    }

    &-box {
        max-width: 360px;
        width: 100%;
        line-height: 0;
        // height: 260px;
        // background-repeat: no-repeat;
        margin: 0 15px 30px 15px;
        position: relative;
        
        &-women-bg {
            max-width: 100%;
            // background-image: url(../img/for_women.png);
            // background-size: contain;
        }

        &-men-bg {
            // background-image: url(../img/for_men.png);
            // background-size: contain;
            max-width: 100%;
        }

        &-kids-bg {
            // background-image: url(../img/for_kids.png);
            // background-size: contain;
            max-width: 100%;
        }
    }

    &-long-box-wrp {
        // display: flex;
        padding: 0 15px 30px 15px;
    }

    &-long-box {
        max-width: 1140px;
        width: 100%;
    // height: 180px;
    // background-image: url(..//img/Accesories.png);
    // background-size: cover;
        // margin: 0 15px 0 15px;

        // max-width: 360px;
        // width: 100%;
        line-height: 0;
        // height: 260px;
        // background-repeat: no-repeat;
        // margin: 0 15px 30px 15px;
        position: relative;

        &-accesories-bg {
            max-width: 1140px;
            width: 100%;
        }
    }

    &-link {
        line-height: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(33, 22, 22, 0.7);
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #ffffff;
        position: absolute;
        
        &--color-pink {
            font-weight: 700;
            font-size: 24px;
            line-height: 21px;
            color: #F16D7F;
        }
    }
}

.featured-items {
    @include bbx;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-items-heading {
    @include fonts (400, 30px, 36px);
    text-transform: capitalize;
    color: #222;
}

.featured-items-text {
    @include fonts (400, 14px, 17px);
    margin: 6px 0 0 0;
    color: #9F9F9F;
}

.product-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.product--mgn {
    margin: 0 15px 30px 15px;
}

.featured-items-button {
    @include fonts (400, 16px, 19px);
    cursor: pointer;
    margin: 0 0 90px 0;
    color: #F26376;
    background: transparent;
    padding: 15px 40px 15px 40px;
    border: 1px solid #FF6A6A;
    text-transform: capitalize;
    transition: 0.3s ease;
    outline: none;

    &:hover {
        background: #F16D7F;
        border: 1px solid #FF6A6A;
        color: #fff;
    }

    &:active {
        background: #f74058;
        border: 1px solid #FF6A6A;
        color: #fff;
    }
}

/* ========== Начало стилей для страницы catalog ========== */

.catalog-filter {
    @include fonts (400, 14px, 17px);
    color: #6F6E6E;
    max-width: 1600px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 50px 10px 65px 16px;

    &-wrp {
        max-width: 1140px;
        margin: 0 auto;
    }

    &-menu-wrp {
        max-width: 686px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-menu {
        position: relative;
        // margin: 0 0 0 16px;
    }

    &-menu-checkbox {
        display: none;

        &:checked ~.catalog-filter-menu-box {
            visibility: visible;
        }

        &:checked ~.catalog-filter-menu-heading {
            fill: #EF5B70;
            color: #EF5B70;
        }
    }

    &-menu-heading {
        color: #000000;
        font-weight: 600;
        z-index: 3;
        position: relative;

        &:hover {
            fill: #EF5B70;
            color: #EF5B70;
        }
    }

    &-menu-box {
        visibility: hidden;
        @include bbx;
        width: 360px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background: #ffffff;
        position: absolute;
        top: -20px;
        left: -16px;
        z-index: 2;
        padding: 46px 17px 0 17px;
    }

    &-main-list {
        list-style: none;
        padding: 0 0 0 0;
    }

    &-main-list-item {
        margin: 0 0 18px 0;
    }

    &-main-list-category-checkbox {
        display: none;

        &:checked ~.catalog-filter-sublist {
            visibility: visible;
            padding: 24px 0 6px 17px;
            height: 100%;
        }

        &:checked ~.catalog-filter-main-list-heading {
            color: #EF5B70;
        }
    }

    &-main-list-heading {
        @include bbx;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        max-width: 320px;
        display: block;
        width: 100%;
        padding: 10px 10px 10px 10px;

        &:hover {
            color: #EF5B70;
        }
    }

    &-sublist {
        height: 0;
        visibility: hidden;
        padding: 0;
        list-style: none;
        transition: 0.3s ease;
    }

    &-sublist-item {
        text-transform: capitalize;
        margin: 0 0 11px 0;
        
        &:hover {
            color: #EF5B70;
        }
    }
}

.catalog-pg-product-wrp {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-pg-pagination{
    position: relative;
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-around;
    margin: 18px 0 96px 0;
    border: 1px solid #EBEBEB;
    border-radius: 5px;   
    
    &-wrp {
        margin: 0 auto;
        max-width: 285px;
        width: 100%;
    }

    &-span {
        @include fonts (300, 16px,19px);
        color: #C4C4C4;

        &:hover {
            color: #EF5B70;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 17px;
        left: 15px;
        display: block;
        width: 10px;
        height: 14px;
        background-image: url(../img/left-pg.svg);
        background-repeat: no-repeat;
    }
    &::before {
        content: "";
        position: absolute;
        top: 17px;
        right: 14px;
        display: block;
        width: 10px;
        height: 14px;
        background-image: url(../img/right-pg.svg);
        background-repeat: no-repeat;
    }
}

/* ========== Конец стилей для страницы catalog ========== */
/* ========== Начало стилей для страницы product ========== */

.product-pg {
    &-carusel-wrp {
        max-width: 1600px;
        margin: 0 auto;
    }

    &-carusel {
        background-color: #F7F7F7;
        display: flex;
        justify-content: space-between;

        &-button-backward {
            border: none;
            padding: 0;
            background-color: rgba(42, 42, 42, 0.15);
            width: 47px;
            height: 47px;
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;  
        }

        &-product-img {
            margin: 10px 0 40px 0;
            width: 75%;
            max-width: 597px;
        }

        &-button-forward {
            border: none;
            padding: 0;
            background-color: rgba(42, 42, 42, 0.15);
            width: 47px;
            height: 47px;
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
        }
    }

    &-description-wrp {
        max-width: 1140px;
        margin: 0 auto;
        position: relative;
        top: -65px;
    }

    &-description {
        @include fonts (300, 14px, 17px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 65px 0 65px 0  ;
        border: 1px solid #EAEAEA;
        background-color: #fff;
    
        &-category {
            font-weight: 300;
            color: #F16D7F;
            text-transform: uppercase;
            position: relative;

            &--underline::after {
                content: '';
                display: block;
                width: 63px;
                height: 3px;
                background-color: #EF5B70;
                position: absolute;
                bottom: -12px;
                right: 0;
                left: 0;
                margin: 0 auto;
            }
        }
    
        &-heading {
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
            text-transform: uppercase;
            margin: 27px 0 0 0;
        }
    
        &-text {
            text-align: center;
            color: #5e5e5e;
            max-width: 550px;
            margin: 48px 0 0 0;
        }
    
        &-price {
            font-size: 24px;
            line-height: 29px;
            color: #EF5B70;
            margin: 32px 0 0 0;
            max-width: 640px;
            width: 100%;
            position: relative;
            text-align: center;

            &--underline::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #EAEAEA;
                position: absolute;
                bottom: -65px;
            }
        }
    }

    &-filter-options-wrp {
        margin: 130px 0 0 0;
    }

    &-add-to-cart-btn-wrp {
        margin: 50px 0 0 0;
    }

    &-products {
        padding: 65px 0 100px 0;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-product-wrp {
        margin: 0 15px 30px 15px;
    }
}
/* ========== Конец стилей для страницы product ========== */
/* ========== Начало стилей для страницы cart ========== */

.cart {
    padding: 100px 16px 130px 16px;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    
    &-product-wrp {
        @include fonts (400, 22px, 26px);
        color: #575757;
        display: flex;
        flex-direction: column;
        max-width: 652px;
        width: 100%;
    }

    &-product {
        margin: 0 0 40px 0;
        display: flex;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

        // &-img {

        // }

        &-text {
            position: relative;
            width: 100%;
            padding: 22px 48px 62px 31px;

            &-brand {
                display: block;
                text-transform: uppercase;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
            }

            &-item-type {
                display: block;
                margin: 0 0 40px 0;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
                text-transform: uppercase;
            }

            &-item-wrp {
                display: flex;
            }

            &-item {
                margin: 0 10px 0 0;
            }

            &-item-price-counter {
                color: #EF5B70;
            }

            &-item-color-counter {
                text-transform: capitalize;
                color: #EF5B70;
            }

            &-item-size-counter {
                text-transform: uppercase;
                color: #EF5B70;
            }

            &-item-quantity-counter {
                width: 44px;
                height: 25px;
                display: block;
                text-align: center;
                border: 1px solid #EAEAEA;
            }
        }
    }

    &-delete {
        background: transparent;
        position: absolute;
        border: none;
        top: 28px;
        right: 22px;
        cursor: pointer;

        &:hover {
            fill: #EF5B70;
        }

        // &-svg {

        // }
    }

    &-button-wrp {
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    &-clear {
        @include fonts (300, 14px, 17px);
        background: transparent;
        color: #222222;
        border: 1px solid #a4a4a4;
        padding: 15px 40px 15px 40px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background: #F16D7F;
            color: #EAEAEA;
        }
    }

    &-continue {
        @include fonts (300, 14px, 17px);
        background: transparent;
        border: 1px solid #a4a4a4;
        padding: 15px 40px 15px 40px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s ease;
        
        &:hover {
            background: #F16D7F;
            color: #EAEAEA;
        }
    }

    &-form-wrp {
        @include fonts (300, 16px, 19px);
        padding: 20px 0 0 0;
        margin: 0 0 0 10px;
        color: #222222;
        display: flex;
        flex-direction: column;
        max-width: 360px;
        width: 100%;
    }

    &-form {
        display: flex;
        flex-direction: column;

        &-heading {
            text-transform: uppercase;
        }

        &-input {
            background: #ffffff;
            border: 1px solid #a4a4a4;
            width: 100%;
            box-sizing: border-box;
            height: 45px;
            margin: 20px 0 0 0;
            padding: 0 15px 0 15px;
        }

        &-submit-btn {
            font-size: 11px;
            line-height: 13px;
            max-width: fit-content;
            margin: 25px 0 0 0;
            background: transparent;
            border: 1px solid #a4a4a4;
            color: #a4a4a4;
            padding: 10px 15px 10px 15px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background: #F16D7F;
                color: #EAEAEA;
            }
        }
    }

    &-calculator {
        padding: 40px 45px 40px 45px;
        background: #F5F3F3;
        margin: 57px 0 0 0;

        &-total-main-wrp {
            
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #e2e2e2;
            }
        }

        &-total-wrp {
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
            display: flex;
            justify-content: flex-end;
        }

        &-total-text {
            margin: 0 25px 0 0;
        }

        // &-total {

        // }

        &-grand-total-wrp {
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin: 12px 0 20px 0;
            display: flex;
            justify-content: flex-end;
        }

        &-grand-total-text {
            margin: 0 25px 0 0;
        }

        &-grand-total {
            color: #F16D7F;
        }

        &-btn {
            font-size: 11px;
            line-height: 13px;
            width: 100%;
            margin: 17px 0 0 0;
            background: #F16D7F;
            border: 1px solid transparent;
            color: #ffffff;
            padding: 10px 15px 10px 15px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background: #ffffff;
                color: #F16D7F;
                border: 1px solid #a4a4a4;
            }
        }
    }
}
/* ========== Конец стилей для страницы cart ========== */
/* ========== Начало стилей для страницы registration ========== */
.registration-pg {

    &-registration-wrp {
        max-width: 1600px;
        margin: 0 auto;
        padding: 65px 0 95px 0;
    }

    &-registration {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: space-between;

        &-form-wrp {
            @include fonts (300, 16px, 19px);
            display: flex;
            max-width: 360px;
            width: 100%;
            text-transform: capitalize;
        }

        &-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-text {
                margin: 30px 0 0 0;

                &:first-child {
                    margin: 0 0 0 0;
                }
            }

            &-input {
                height: 45px;
                margin: 20px 0 0 0;
                
                &::-webkit-input-placeholder {
                    color: #b1b1b1;
                }
            }

            &-radio-wrp {
                margin: 30px 0 0 0;
                display: flex;
                align-items: center;
            }

            &-radio {
                margin: 0 0 0 20px;

                &:first-child {
                    margin: 0 0 0 0;
                }

                &-Male {
                    margin: 0 0 0 10px;
                }

                &-Female {
                    margin: 0 0 0 10px;
                }
            }

            &-description {
                font-size: 13px;
                line-height: 16px;
                margin: 15px 0 0 0;
                color: #b1b1b1;
                text-transform: none;
            }

            &-btn {
                margin: 40px 0 0 0;
                background: #F16D7F;
                color: #EAEAEA;
                border: 1px solid transparent;
                padding: 16px 30px 16px 30px;
                width: fit-content;
                text-transform: uppercase;
                transition: 0.3s ease;

                &:hover {
                    background: #EAEAEA;
                    border: 1px solid #F16D7F;
                    color: #F16D7F;
                }
            }
        }

        &-text {
            @include fonts (300, 24px, 29px);
            max-width: 650px;
            margin: 0 0 0 15px;

            &-heading {
                text-transform: uppercase;
            }

            &-paragraph {
                margin: 20px 0 20px 0;
            }

            &-point {
                padding: 20px 0 0 0;
                display: flex;
                flex-direction: column;

                &-item {
                    margin: 16px 0 0 0;
                    display: flex;

                    &:first-child {
                        margin-top: 0;
                    }

                    &::before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 16px;
                        margin: 6px 24px 0 0;
                        background: url(../img/check.svg);
                    }
                }
            }
        }
    }
}
/* ========== Конец стилей для страницы registration ========== */
/* ========== Начало медиазапросов ========== */

@media (max-width: 1024px) {
    
    .index-main-heading {
    
        &-box {
            height: 368px;
            background-size: contain;
            background-position: -30px;
        }

        &-textbox {

            &::before {
                height: 75px;
            }
        }
    }

    .brand {
        font-size: 44px;
        line-height: 53px;

        &-text {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .category {
        padding: 20px 6px 155px 6px;
        justify-content: center;

        // &-box {
        //     max-width: 232px;
        //     margin: 0 10px 20px 10px;
            
        //     &-long {
        //         max-width: 735px;
        //     }
        // }

    }
    
    .product-pg-description-wrp {
        top: 0;
    }

    .product-pg-description-price {
        max-width: 550px;
    }

    .product-pg-product-wrp {
        margin: 0 10px 30px 10px;
    }

    .cart {
        flex-direction: column;
        align-items: center;
        padding: 100px 16px 130px 16px;

        &-product-wrp {
            max-width: none;
        }
        &-button-wrp {
            max-width: 508px;
            align-self: center;
            min-width: 508px;
        }

        &-form-wrp {
            flex-direction: row;
            justify-content: space-between;
            max-width: none;
            padding: 70px 0 0 0;
            margin: 0 0 0 0;
        }

        &-form {
            max-width: 360px;
            width: 100%;
        }

        &-calculator {
            max-width: 360px;
            width: 100%;
            margin: 38px 0 0 16px;
            box-sizing: border-box;
            max-height: 214px;
        }
    }
}

@media (max-width: 900px) {
    .category {
        
        &-box {
            margin: 0 7px 14px 7px;
        }

        &-long-box-wrp {
            padding: 0 7px 14px 7px;
        }
    }
}

@media (max-width: 600px) {

    .index-main-heading {
    
        &-box {
            background-image: none;
            justify-content: center;
        }

        &-textbox {
            padding: 0 0 0 0;
        }
    }

    .category {
        padding: 20px 16px 64px 16px;

        &-box-wrp {
            flex-direction: column;

        }

        &-box {
            max-width: 343px;
            margin: 0 0 14px 0;
        }

        &-long-box {
            max-width: 342px;
            overflow: hidden;

            &-accesories-bg {
                width: unset;
            }
        }
    }

    .product-wrp {
        margin: 20px 0 24px 0;
    }

    .product--mgn {
        margin: 0 15px 16px 15px;
    }

    .catalog-filter {
        font-size: 12px;
        line-height: 14px;
    }

    .filter-options {
        font-size: 12px;
        line-height: 14px;
    }

    .product-pg-carusel-product-img {
        margin: 85px 0 85px 0;
    }

    .product-pg-description-text {
        max-width: 325px;
    }

    .product-pg-description-price {
        max-width: 175px;

        &--underline::after {
            bottom: -32px;
        }
    }

    .product-pg-filter-options-wrp {
        margin: 81px 0 0 0;
    }

    .product-pg-products {
        padding: 65px 0 35px 0;
    }

    .cart {
        padding: 40px 10px 96px 10px;

        &-product-wrp {
            font-size: 14px;
            line-height: 17px;
        }

        &-product-img {
            width: 143px;
            height: 188px;
        }

        &-product-text {
            padding: 22px 48px 10px 17px;
        }

        &-product-text-brand {
            font-size: 16px;
            line-height: 19px;
        }

        &-product-text-item-type {
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 25px 0;
        }

        &-product-text-item-quantity-counter {
            width: 24px;
            height: 15px;
        }

        &-button-wrp {
            max-width: 360px;
            align-self: center;
            min-width: 360px;
        }

        &-clear {
            font-size: 12px;
            line-height: 14px;
            text-transform: unset;
            padding: 10px 30px 10px 30px;
        }

        &-continue {
            font-size: 12px;
            line-height: 14px;
            text-transform: unset;
            padding: 10px 30px 10px 30px;
        }
        

        &-form-wrp {
            padding: 48px 0 0 0;
            flex-direction: column;
        }

        &-form {
            max-width: none;
        }

        &-calculator {
            max-width: none;
            margin: 48px 0 0 0;
        }
    }

    .registration-pg {
        
        &-registration-wrp {
            padding: 40px 0 95px 0;
        }

        &-registration {
            flex-direction: column;
            align-items: center;
            padding: 0 9px 0 9px;

            &-form-wrp {
                max-width: none;
            }

            &-text {
                font-size: 16px;
                line-height: 19px;
                margin: 40px 0 0 0;
            }
        }
    }
}

@media (max-width: 375px) {

    .category {

        &-box {
            max-width: 343px;
            // height: 236px;
        }
    }

    .catalog-filter-menu-heading-span {
        display: none;
    }

    .product-pg-description-text {
        margin: 32px 0 0 0;
    }
}
/* ========== Конец медиазапросов ========== */